.site {
    border: $border-md;
    border-radius: $border-radius-md;
    line-height: $line-height-md;
}

.site__top {
    font: $font-text-lg;
    display: flex;
    align-items: center;
}

.site__top__icon {
    margin: 0 $margin-md;
}

.site__top__title {
    margin-right: $margin-md;
}

.site__links {
    padding: $padding-md;
    display: flex;
    border-left: $border-md;
}

.site__link {
    font: $font-text-sm;
    padding: 10px;
    background: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 40%);
    margin: 5px;
    border-radius: 3px;
}
.site__link__small {
    color: hsl(0, 0%, 40%);
    opacity: 0.5;
}
.site__link__big {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 90%);;
}
.site__link__title {
    background: none;
    padding: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.site__bottom {
    padding: $padding-md;
    border-top: $border-md;
}
.site__group {
    padding-bottom: $padding-md;
    border-bottom: $border-sm;
    margin-bottom: $padding-md;
    display: flex;
    flex-wrap: wrap;
}
.site__group:last-child {
    padding: 0;
    margin: 0;
    border: none;
}
.site__bottom > * {
    margin-right: $margin-sm;
}
